<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flyt.fwe.mapper.FweClassroomMapper">
    
    <resultMap type="FweClassroom" id="FweClassroomResult">
        <result property="id"    column="id"    />
        <result property="classroomName"    column="classroom_name"    />
        <result property="classroomNo"    column="classroom_no"    />
        <result property="campusId"    column="campus_id"    />
        <result property="teachingBuildingId"    column="teaching_building_id"    />
        <result property="floorId"    column="floor_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectFweClassroomVo">
        select id, classroom_name, classroom_no, campus_id, teaching_building_id, floor_id, create_by, create_time, update_by, update_time from fwe_classroom
    </sql>
	
    <select id="selectFweClassroomList" parameterType="FweClassroom" resultMap="FweClassroomResult">
        <include refid="selectFweClassroomVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="classroomName != null  and classroomName != '' "> and classroom_name = #{classroomName}</if>
             <if test="classroomNo != null  and classroomNo != '' "> and classroom_no = #{classroomNo}</if>
             <if test="campusId != null "> and campus_id = #{campusId}</if>
             <if test="teachingBuildingId != null "> and teaching_building_id = #{teachingBuildingId}</if>
             <if test="floorId != null "> and floor_id = #{floorId}</if>
            <!--<if test="createTime != null "> and create_time = #{createTime}</if>-->
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            <!-- 数据范围过滤 -->
         </where>
    </select>
    
    <select id="selectFweClassroomById" parameterType="Long" resultMap="FweClassroomResult">
        <include refid="selectFweClassroomVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFweClassroom" parameterType="FweClassroom" useGeneratedKeys="true" keyProperty="id">
        insert into fwe_classroom
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="classroomName != null  and classroomName != ''  ">classroom_name,</if>
			<if test="classroomNo != null  and classroomNo != ''  ">classroom_no,</if>
			<if test="campusId != null  ">campus_id,</if>
			<if test="teachingBuildingId != null  ">teaching_building_id,</if>
			<if test="floorId != null  ">floor_id,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
            create_time,
            <if test="updateBy != null  and updateBy != ''  ">update_by,</if>
            update_time,
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="classroomName != null  and classroomName != ''  ">#{classroomName},</if>
			<if test="classroomNo != null  and classroomNo != ''  ">#{classroomNo},</if>
			<if test="campusId != null  ">#{campusId},</if>
			<if test="teachingBuildingId != null  ">#{teachingBuildingId},</if>
			<if test="floorId != null  ">#{floorId},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
            sysdate(),
            <if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
            sysdate(),
         </trim>
    </insert>
	 
    <update id="updateFweClassroom" parameterType="FweClassroom">
        update fwe_classroom
        <trim prefix="SET" suffixOverrides=",">
            <if test="classroomName != null  and classroomName != ''  ">classroom_name = #{classroomName},</if>
            <if test="classroomNo != null  and classroomNo != ''  ">classroom_no = #{classroomNo},</if>
            <if test="campusId != null  ">campus_id = #{campusId},</if>
            <if test="teachingBuildingId != null  ">teaching_building_id = #{teachingBuildingId},</if>
            <if test="floorId != null  ">floor_id = #{floorId},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            update_time = sysdate(),
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteFweClassroomById" parameterType="Long">
        delete from fwe_classroom where id = #{id}
    </delete>
	
    <delete id="deleteFweClassroomByIds" parameterType="String">
        delete from fwe_classroom where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>