<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flyt.fwe.mapper.FweStudentCurriculumMapper">
    
    <resultMap type="FweStudentCurriculum" id="FweStudentCurriculumResult">
        <result property="id"    column="id"    />
        <result property="studentId"    column="student_id"    />
        <result property="curriculumId"    column="curriculum_id"    />
        <result property="curriculumScheduleId"    column="curriculum_schedule_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectFweStudentCurriculumVo">
        select id, student_id, curriculum_id, curriculum_schedule_id, create_by, create_time, update_by, update_time from fwe_student_curriculum
    </sql>
	
    <select id="selectFweStudentCurriculumList" parameterType="FweStudentCurriculum" resultMap="FweStudentCurriculumResult">
        <include refid="selectFweStudentCurriculumVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="studentId != null "> and student_id = #{studentId}</if>
             <if test="curriculumId != null "> and curriculum_id = #{curriculumId}</if>
             <if test="curriculumScheduleId != null "> and curriculum_schedule_id = #{curriculumScheduleId}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
         </where>
    </select>
    
    <select id="selectFweStudentCurriculumById" parameterType="Long" resultMap="FweStudentCurriculumResult">
        <include refid="selectFweStudentCurriculumVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFweStudentCurriculum" parameterType="FweStudentCurriculum" useGeneratedKeys="true" keyProperty="id">
        insert into fwe_student_curriculum
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="studentId != null  ">student_id,</if>
			<if test="curriculumId != null  ">curriculum_id,</if>
			<if test="curriculumScheduleId != null  ">curriculum_schedule_id,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="studentId != null  ">#{studentId},</if>
			<if test="curriculumId != null  ">#{curriculumId},</if>
			<if test="curriculumScheduleId != null  ">#{curriculumScheduleId},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updateFweStudentCurriculum" parameterType="FweStudentCurriculum">
        update fwe_student_curriculum
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentId != null  ">student_id = #{studentId},</if>
            <if test="curriculumId != null  ">curriculum_id = #{curriculumId},</if>
            <if test="curriculumScheduleId != null  ">curriculum_schedule_id = #{curriculumScheduleId},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteFweStudentCurriculumById" parameterType="Long">
        delete from fwe_student_curriculum where id = #{id}
    </delete>
	
    <delete id="deleteFweStudentCurriculumByIds" parameterType="String">
        delete from fwe_student_curriculum where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>